@import url(/css/nullstyles.css);
@import url(/css/blogstyles.css);

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;900&display=swap");

body {
  position: relative;

  font-family: "Source Serif 4", sans-serif;
  min-width: 400px;
}

.test-message {
  position: absolute;
  top: 100px;
  left: 100px;

  color: #c2a227;
  background-color: #27272f;
  
  font-size: 20px;
  text-transform: uppercase;
  
  padding: 40px;
}

.header-navigation {
  height: 55px;
  background-color: #27272f;
}

.header-body {
  display: table;
  height: 200px;
}

.header-body h1 {
  display: table-cell;
  font-size: 55px;

  text-align: center;
  vertical-align: middle;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.main {
}

.main-navigation {
  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.main-navigation ul {
  text-align: center;
}

.main-navigation ul li {
  display: inline-block;
}

.main-navigation ul li a {
  display: inline-block;

  color: #000;
  text-transform: uppercase;

  padding: 20px 16px;
}

.main-navigation ul li a:hover {
  color: #c2a227;
  background-color: #27272f;
}

/* ----------------------------------------------- */

.main-body {
  display: flex;

  padding: 50px 0px;
}

.col-60 {
  width: 60%;
  margin: 0px 30px;
}

.col-40 {
  width: 40%;

  margin: 0px 30px;
}

/* ----------------------------------------------- */

.block {
  margin-bottom: 50px;
}

.block-title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #c2a227;
  background-color: #27272f;

  padding: 18px;
  margin-bottom: 20px;
}

.block-img > img {
  width: 100%;
}

.block-text {
  font-size: 16px;

  text-align: justify;

  margin: 20px 0px;

  line-height: 20px;
}

.label {
  cursor: default;

  display: inline-block;

  text-transform: uppercase;

  border: 1px solid #27272f;

  padding: 5px;
  margin: 5px 0px;
}

.label:hover {
  color: #c2a227;
  background-color: #27272f;
  transition-duration: 150ms;
}

/* ----------------------------------------------- */

.follow-me {
  text-align: center;
}

.follow-me-list {
  text-align: center;
}

.follow-me-list li {
  display: inline-block;
  width: 100px;
}

.follow-me-list li img {
  width: 40px;
}

.follow-me-list li a {
  display: block;

  color: #000;
  text-transform: uppercase;

  margin: 10px 0px 0px 0px;
}

/* ----------------------------------------------- */

.footer {
  color: #fff;
  background-color: #27272f;
}

.footer-body {
  display: table;

  width: 100%;
  height: 100px;
}

.user-name {
  display: table-cell;

  font-size: 30px;
  text-align: left;
  vertical-align: middle;
}

.creator {
  display: table-cell;

  font-size: 14px;
  text-align: right;
  vertical-align: middle;
}

/* ----------------------------------------------- */

@media (max-width: 400px) {
  .logo {
    text-align: center;
  }
}
